.card-img-top {
    height: 290px;
}

.container-fluid {
    align-items: center;
}

#edit_window {
    display: none;
}

.form-control {
    margin-bottom: 7px;
}

#icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.indent {
    margin: 1vw;
}

.info-container {
    display: flex; 
    align-items: flex-start;
}

.info-card {
    display: inline-block; 
    width: 70rem; 
    border-width: 0px;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.lead {
    font-size: 14px;
}

.link {
    text-decoration: none;
    color: black;
}

.media {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 12rem;
    border-width: 0px;
}

.mvbtn {
  margin-left: 115px;  
}

.navbar {
    background-color: #B2B7C0;
}

#nav-left {
    margin-left: .4vw;
}

.no-poster {
    text-align: center; 
    margin-top: 60px; 
    margin-bottom: 173px;
}

.no-poster-info {
    display: inline-block;
    width: 342px;
    padding-top: 228px;
    padding-bottom: 226px;
    margin-bottom: 10px;
}

.plus {
    --bs-btn-padding-y: .05rem; 
    --bs-btn-padding-x: .3rem; 
    --bs-btn-font-size: .75rem;
}

.redirect {
    color: black;
    text-decoration: none;
}

.spacing {
    margin-left: 1.7vw;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tvbtn {
    margin-left: 135px;  
}

