{% extends "tracker/layout.html" %}
{% load static %}

{% block title %}
    Search for a {{ type }}
{% endblock %}

{% block body %}
    <div id="searchbar">
        <form id="search" action="" method="GET"> 
            <div class="input-group">
                <span class="input-group-text" style="height: 38px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </span>
                <input autofocus class="form-control search" type="text" name="q" placeholder="Search for a {{ type }}" required>
            </div>
            
        </form>
    </div>

    <div id="message"></div>

    <div id="display" style="margin-left: 12.5vw; margin-right: 4.5vw;"> <!-- col-md-9 offset-md-2 -->
        <div class="card shadow media">
            <a class="link" href="https://www.google.com/">
                <img src="https://image.tmdb.org/t/p/w185/1E5baAaEse26fej7uHcjOgEE2t2.jpg" class="card-img-top" alt="...">
            
                <div class="card-body">
                    <span class="badge text-bg-danger">Movie</span>
                    <p class="card-text">Some quick example text.</p>
                </div>
            </a>
        </div>

        <div class="card shadow media">
            <a class="link" href="https://www.google.com/">
                <div class="card" style="border-width: 0px;">
                    <div class="card-body">
                        <p class="no-poster"><i>No Poster</i></p>
                    </div>
                  </div>
                
            </a>    
                <div class="card-body">
                    <span class="badge text-bg-danger">Movie</span>
                    <p class="card-text">Some quick example text.</p>
                </div>
            
        </div>

    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'tracker/confid.js' %}"></script>
    <script src="{% static 'tracker/content.js' %}"></script>
{% endblock %}
